<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../assets/images/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>FR Semijoias | Pagamento pendente</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-light min-vh-100 d-flex align-items-center justify-content-center px-4"
  >
    <div
      class="card bg-body-secondary shadow border-0 w-100 rounded-4"
      style="max-width: 500px"
    >
      <div class="card-body text-center p-5">
        <div class="text-center mb-3">
          <img
            src="../assets/images/logo.svg"
            alt="Logo FR Semijoias"
            class="mb-2 logo-login"
          />
        </div>
        <div
          class="rounded-circle bg-warning d-flex align-items-center justify-content-center mx-auto mb-4"
          style="width: 90px; height: 90px"
        >
          <svg
            width="56"
            height="56"
            fill="#fff"
            viewBox="-8 0 19 19"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.828 15.984A1.328 1.328 0 1 1 1.5 14.657a1.328 1.328 0 0 1 1.328 1.327zM1.5 13.244a1.03 1.03 0 0 1-1.03-1.03V2.668a1.03 1.03 0 0 1 2.06 0v9.548a1.03 1.03 0 0 1-1.03 1.029z"
            />
          </svg>
        </div>
        <h3 class="card-title text-warning mb-2">Pagamento pendente</h3>
        <p class="text-center text-muted mb-4">
          Seu pagamento ainda não foi confirmado.<br />Assim que for aprovado,
          você receberá uma notificação.
        </p>
        <a
          href="/inicio"
          class="btn btn-warning w-100 rounded-4 fw-medium px-5 py-2 text-white"
          >Voltar para o início</a
        >
      </div>
    </div>
  </body>
</html>
