@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
}

.sidebar-nav .nav-link {
  color: #333;
  font-size: 1.05rem;
  padding: 10px 15px;
  margin-bottom: 4px;
}

.sidebar-nav .nav-link i {
  margin-right: 12px;
  font-size: 1.2rem;
  width: 20px;
}

.sidebar-nav .nav-link.active {
  background-color: #d0e4ff;
  color: #0b57d0;
  font-weight: 500;
  border-radius: 50px;
}

/*hover p n ativos */
.sidebar-nav .nav-link:not(.active):hover {
  background-color: #f1f1f1;
  border-radius: 50px;
}

.info-list .list-group-item {
  padding: 1.25rem 1.5rem;
}

.info-list .list-group-item-action:hover {
  background-color: #fdfdfd;
}

.info-value {
  color: #555;
  margin-right: 1rem;
}

.info-arrow {
  color: #6c757d;
}

.btn-animado {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #2b6aff;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #2b6aff;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #2b6aff;
}

.btn-animado:hover {
  color: rgb(21, 58, 60);
  box-shadow: inset 0 -100px 0 0 #2b6aff;
}

.btn-animado:active {
  transform: scale(0.9);
}
