@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --color-black: #0a0a0a;
  --color-white: #f3f3f3;
  --color-hover: #282828;
  --border-radius: 2rem;
}

.text-black {
  color: var(--color-black);
}

.p-6 {
  padding: 4rem !important;
}

.gap-6 {
  gap: 7rem !important;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-large {
  width: 8rem;
  height: auto;
}

.sidebar {
  width: 14rem;
  min-width: 14rem;
  flex-shrink: 0;
}

.rounded-sidebar {
  border-radius: var(--border-radius);
}

.button-dark {
  background-color: var(--color-black) !important;
  color: var(--color-white) !important;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.button-dark:hover {
  background-color: var(--color-hover) !important;
  color: var(--color-white) !important;
}

aside a:hover {
  color: var(--color-hover) !important;
  transition: all 0.3s;
}
