@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --color-black: #000000;
  --color-white: #f3f3f3;
  --color-hover: #282828;
}

.gap-6 {
  gap: 9rem !important;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-large {
  width: 8rem;
  height: auto;
}

a {
  transition: all 0.3s ease;

  &:hover {
    transition: all 0.3s ease;
  }
}

.hover-transition {
  transition: all 0.3s ease;

  &:hover {
    transition: all 0.3s ease;
  }
}

::placeholder {
  color: #6c757d !important;
}

.table-transparent {
  --bs-table-bg: transparent !important;
}

.chart-container-bar {
  height: 200px !important;
}

.chart-container-doughnut {
  min-height: 180px !important;
}

.status-success {
  background-color: rgba(25, 135, 84, 0.1) !important;
}

.status-warning {
  background-color: rgba(255, 193, 7, 0.1) !important;
}

.status-danger {
  background-color: rgba(220, 53, 69, 0.1) !important;
}
